In [7]:
import duckdb
import dedupe

## Extract Example Data (Early childhood locations)

In [8]:
conn = duckdb.connect(database="csv_example_messy_input_duck.db", read_only=False)
cur = conn.cursor()

In [9]:
cur.execute("CREATE TABLE examples AS SELECT * FROM 'csv_example_messy_input.csv';")

In [18]:
df_examples = cur.execute("""
    SELECT Id as id, "Site name" as "sitename", Address as "address", Zip as "zip", Phone as "phone"
    FROM examples
""").df()

In [19]:
df_examples

,id,sitename,address,zip,phone
0,0,Salvation Army - Temple / Salvation Army,1 N Ogden Ave,NaN,2262649.0
1,1,Salvation Army - Temple / Salvation Army,1 N Ogden Ave,NaN,2262649.0
2,2,National Louis University - Dr. Effie O. Elli...,10 S Kedzie Ave,NaN,5339011.0
3,3,National Louis University - Dr. Effie O. Elli...,10 S Kedzie Ave,NaN,5339011.0
4,4,Board Trustees-City Colleges of Chicago - Oli...,10001 S Woodlawn Ave,NaN,2916100.0
...,...,...,...,...,...
3332,3332,YMCA Garfield,7 N Homan Avenue,60624.0,2653900.0
3333,3333,YMCA Marshall,3250 W Adams Street,60624.0,2650145.0
3334,3334,YMCA North Lawndale,3449 W Arthington Street,60624.0,6380773.0
3335,3335,C.C.C. Learning Center,219 S Dearborn Street,60605.0,3538687.0
3336,3336,Haymarket Center,932 W. Washington Blvd,60607.0,2267984.0

## Dedup Experiment

### Blocking Rules